/Taller_2_For/nbproject/private/
/Taller_2_For/build/
/Clase_5/nbproject/private/
/Clase_5/build/
/Clase_6/nbproject/private/
/Clase_6/build/
/Parcial1_JAPV/nbproject/private/
/Parcial1_JAPV/build/
/Clase_7/nbproject/private/
/Clase_7/build/
/Clase_7/dist/
